@import "includes/mixins";
@import "includes/vars";

// not sure about leaving the colors in...

div.alert-box {
	position: relative;
	display: block;
	margin: 3em;
	padding: 18px 7px;
	border: 1px solid rgba(0,0,0,0.1);
	background: $gray60;
	font-weight: bold;
	text-align: center;
	color: $white;
	&.slide {
		margin: 0;
	}
	&.success {
		background-color: #7fae00;
		text-shadow: 0 -1px rgba(0,0,0,0.3);
	}
	&.warning {
		background-color: #c08c00;
		text-shadow: 0 -1px rgba(0,0,0,0.3);
	}
	&.error {
		background-color: #c00000;
		text-shadow: 0 -1px rgba(0,0,0,0.3);
	}
	a.close {
		position: absolute;
		right: 4px;
		top: 0px;
		padding: 4px;
		font-size: 18px;
		line-height: 45px;
		text-decoration: none;
		color: $white;
		&:hover {
			color: $gray20;
		}
	}
}