@import "includes/mixins";
@import "includes/vars";

/* Pagination */
ul.pagination {
    display: block;
    height: 24px;
    margin-left: -5px;
    li {
        float: left;
        display: block;
        height: 24px;
        color: $gray80;
        margin-left: 5px;
        a {
            display: block;
            padding: 6px 7px 4px;
            color: $gray60;
        }
        &.current, &:hover {
            a {
                border-bottom: solid 2px #00a6fc;
                color: #141414;
            }
        }
        &.unavailable {
            a {
                cursor: default;
                color: $gray90;
            }
        }
        &:hover {
            a {
                border-bottom: none;
            }
        }
    }
}